.about-container {
    margin: 4rem 6rem; /* Adjust margins as needed */
    text-align: start;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Gap between content sections */
}

.content {
    display: flex;
    align-items: center;
    max-width: 800px; /* Adjusted max-width */
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adds gap between content sections */
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.content:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
}

.content-image {
    max-width: 300px; /* Adjusted max-width for images */
    border-radius: 8px;
    margin-right: 20px;
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.content:hover .content-image {
    transform: scale(1.1); /* Scale up slightly on hover */
}

.content-text {
    flex: 1;
}

.content h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.content p, .content ul {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.content ul {
    padding-left: 20px;
}

.content li {
    list-style-type: disc;
    margin-left: 20px;
}

@media screen and (max-width: 600px) {
    .about-container {
        margin: 4rem 2rem; /* Adjusted margin for smaller screens */
    }

    .content {
        flex-direction: column; /* Stack image and text vertically on small screens */
        text-align: center; /* Center align text and image */
    }

    .content-image {
        margin: 0 auto 20px; /* Center image and add bottom margin */
        max-width: 100%; /* Ensure image does not overflow */
    }

    .content:hover .content-image {
        transform: scale(1.1); /* Scale up slightly on hover for smaller screens */
    }

    .content h1 {
        font-size: 1.5em; /* Adjusted heading font size */
    }

    .content p, .content ul {
        font-size: 1em; /* Adjusted text font size */
    }
}
