.form-container {
    margin: 4rem 6rem;
    color: #2a2a2a;
    position: relative; /* Needed to position contact-info absolutely */
}

.form-container form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0;
}

.form-container h1 {
    text-align: left;
}

.form-container input {
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container textarea {
    height: 6rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    border: 1px solid #2a2a2a;
}

.form-container button {
    display: inline;
}

.contact-info {
    position: absolute; /* Position absolutely within form-container */
    top: 6rem; /* Adjust as needed */
    right: 1rem; /* Adjust as needed */
    text-align: right; /* Align the contact information to the right */
}

.contact-info p {
    margin: 0.5rem 0; /* Add some margin for spacing */
}

.contact-info i {
    margin-right: 0.5rem; /* Add some space between icon and text */
}

.social-icons a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: inherit;
    font-size: 2.5rem; /* Adjust the size of the icons */
}

.social-icons a:hover {
    color: #007bff; /* Change the color on hover */
}

.social-icons i {
    font-size: 2.5rem; /* Adjust the size of the icons */
}

@media screen and (max-width: 850px) { /* Corrected media query syntax */
    .form-container {
        margin: 4rem 2rem;
    }

    .form-container form {
        padding-top: 2rem;
        width: 90%;
    }

    .contact-info {
        position: relative;
        top: 0;
        right: 0;
        text-align: left; /* Align to left on smaller screens */
        margin-top: 2rem;
    }

    .social-icons a, .social-icons i {
        font-size: 2rem; /* Adjust icon size for smaller screens */
    }
}
